a:link {
  text-decoration: none;
}

/* MUI primary color 3f51b5 */

a:visited {
  color: white
}

.App {
  text-align: center;
}

.AppBar-logo {
  height: 40px;
  pointer-events: none;
}

.AppBar-type {
  color: white;
  text-decoration: none;
}

.block {
  display: block;
}

@media (prefers-reduced-motion: no-preference) {
  .AppBar-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.section {
  background-color: #e9f1ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.home-footer-section {
  background-color: #3f51b5;
  color: white;
}

.home-footer-text {
  padding: 12px 0;
}

.title-container {
  margin-top: 5px;
}

.outer-video-container, .outer-project-container {
  text-align: right;
  margin-bottom: 20px;
  width: 60%;
}

.video-container {
  color: rgb(34, 25, 108);
  margin: 0rem, 1rem;
  width: 100%;
  border-radius: 7px;
  border: 1px solid rgb(34, 25, 108);
}

.video-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: space-around;
  padding: 8px 15px;
  width: 100%;
}

.video-player-container {
  padding: 0rem;
  box-shadow: 4px 4px 8px rgb(156, 156, 156);
}

.video-player {
  margin: 0rem;
}

.text-overlay {
  position: absolute;
  color: white;
}

.full-length-copy-container {
  margin: 1vw 5vw;
}

.project-list-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid rgb(34, 25, 108);
  border-radius: 7px;
  width: 100%;
  cursor: pointer;
}

.add-video-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-project-container {
  width: 35ch;
  margin: 8px 0px;
  border: 1px solid rgb(34, 25, 108);
  border-radius: 7px;
  padding: 10px;
}

.add-video-row:hover {
  cursor: pointer;
}

.column {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
