a:link {
  text-decoration: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.AppBar-logo {
  height: 8vmin;
  pointer-events: none;
}

.AppBar-type {
  color: white;
  text-decoration: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo, .AppBar-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.section {
  background-color: #e9f1ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.title-container {
  margin-top: 5px;
}

.video-container {
  color: white;
  background-color: #282c34;
  filter: drop-shadow(5px 5px 5px rgb(196, 196, 196));
  margin: 1rem;
}

.video-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: space-around;
  padding: 8px 15px;

}

.video-player-container {
  padding: 0rem;

}

.video-player {
  margin: 0rem;
}

.text-overlay {
  position: absolute;
  color: white;
}

.full-length-copy-container {
  margin: 1vw 5vw;
}

.add-project-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50ch;
  margin: 10px 0px;
  border: 1px solid rgb(34, 25, 108);
  border-radius: 7px;
  padding: 7px;
}

.add-project-row:hover{
  cursor: pointer;
}


.add-project-row-text {
  margin: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
